<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings configSource="Configuration\database.config" />
  <system.diagnostics configSource="Configuration\logging.config" />
  <appSettings file="Configuration\settings.config" />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <machineKey validationKey="359B4A3C8176F0C88481A6A885693B0DEC24C021D37E1B0352C7ACC23D8FB16C059D003BE97A6AA9BF17198CCA09D65B86D4326AB400B7F6844580B35C65B11B" decryptionKey="9E356B5179B003BF013C1C1779312288D563D4A0CF8EE6A4" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP1" />
    <authentication mode="Windows" />
    <!--
    <authentication mode="Forms">
      <forms loginUrl="logon.aspx">
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ItemScoringCallback" path="ItemScoringCallback.axd" verb="*" type="TIS.ScoringDaemon.Web.ItemScoringCallbackHandler" />
    </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument> 
  </system.webServer>
</configuration>