<?xml version="1.0"?>

<!--
NOTE: For local debugging in DebugView turn on "Capture Global Win32"
-->

<system.diagnostics>

  <trace autoflush="true" indentsize="0" />

  <sharedListeners>
    <add name="sqlTrace" type="TDS.Shared.Logging.TDSTraceListener, TDS.Shared" ><filter type="" /></add>
    <add name="consoleTrace" type="AIR.Common.Diagnostics.OutputDebugStringTraceListener, AIR.Common" ><filter type="" /></add>
    <add name="fileTrace" type="AIR.Common.Diagnostics.FileTraceListener, AIR.Common" filePrefix="TISScoringDaemon" filePath="D:\MyFileServer\Logs\" enableUserLogging="false" enableMachineLogging="false" enableDateLogging="false"><filter type="" /></add>
  </sharedListeners>

  <sources>
    <source name="TDSConfig"><listeners><add name="fileTrace" /></listeners></source>
    <source name="TDSSql"><listeners><add name="fileTrace" /></listeners></source>
    <source name="TDSApplication"><listeners><add name="fileTrace" /></listeners></source>
    <source name="TDSRenderer"><listeners><add name="fileTrace" /></listeners></source>
    <source name="TDSAdaptive"><listeners><add name="fileTrace" /></listeners></source>
  </sources>

  <switches>
    <add name="TDSConfig" value="Information, ActivityTracing" />
    <add name="TDSApplication" value="Information, ActivityTracing" />
    <add name="TDSSql" value="Information" /> <!-- , Verbose -->
    <add name="TDSRenderer" value="Information" />
    <add name="TDSAdaptive" value="Information" />
  </switches>

  <!--
  The possible <switches> values are the following:
    * All- Allows all events through.
    * ActivityTracing- Allows the Stop, Start, Suspend, Transfer, and Resume events through.
    * Verbose- Allows Critical, Error, Warning, Information, and Verbose events through.
    * Information- Allows Critical, Error, Warning, and Information events through.
    * Warning- Allows Critical, Error, and Warning events through. 
    * Error- Allows Critical and Error events through.
    * Critical- Allows only Critical events through.
    * Off- Does not allow any events through.
  -->

</system.diagnostics>