<?xml version="1.0"?>

<appSettings>
  <add key="ScoringDaemon.HubTimerIntervalSeconds" value="7200"/>
  <add key="ScoringDaemon.MachineName" value="MyTISScoringDaemonName"/>
  <!-- score requests essentially never expire, because they're being hand-scored -->
  <add key="ScoringDaemon.PendingMins" value="525600"/>
  <add key="ScoringDaemon.MaxAttempts" value="1"/>
  <!-- only needed if we're submitting requests a response at a time, but it's not hurting anything -->
  <add key="ScoringDaemon.ItemScoringCallBackHostUrl" value="https://itemscoring.myserver.org/"/>
  <!-- configured item types / IDs for TISItemResolution -->
  <add key="ItemScoring:ItemTypes" value="SA;WER;TI:1-9999,1-9998;EQ:1-9997"/>
  <add key="secureConnectionStrings" value="false"/>
</appSettings>
