<?xml version="1.0"?>

<appSettings>
  <!-- NOTE: if the scoring daemon will be polling for responses to send off for scoring, be sure to 
    set the app domain to not recycle....
    
    Recycling -> Regular Time Interval: 0
    
    If it's just being used to receive scores back via the HTTP handler (i.e., from THSS), there's no need for this.
    Also, in that case you can bump up the HubTimerIntervalSeconds too.
    -->
  <add key="ScoringDaemon.HubTimerIntervalSeconds" value="90"/>
  <add key="ScoringDaemon.MachineName" value="MyTISScoringDaemonName"/>
  <add key="ScoringDaemon.PendingMins" value="15"/>
  <add key="ScoringDaemon.MaxAttempts" value="5"/>
  <add key="ScoringDaemon.ItemScoringCallBackHostUrl" value="https://myitemscoring.myserver.org/"/>
  <!-- TISScoringDaemon doesn't have access to the item files/rubrics, so all supported item types should be configured here if the Scoring Deamon will be sending requests.  -->
  <add key="ScoringDaemon.ItemFormatsRequiringItemKeysForRubric" value="EQ,GI"/>
  <add key="secureConnectionStrings" value="false"/>
</appSettings>
