<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="WebServiceSettings" type="AIR.Configuration.WebServiceConfig, AIR.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>

  <WebServiceSettings>
    <WebService name="OpenAM" url="https://MyOpenAMServer/auth/oauth2/tokeninfo" />
  </WebServiceSettings>

  <connectionStrings>
    <add name="itembank" connectionString="Data Source=[DATABASE IP OR URL];Initial Catalog=OSS_Itembank;User id=[USERNAME];Password=[PASSWORD]" providerName="System.Data.SqlClient" />
    <add name="TDSQC" connectionString="Data Source=[DATABASE IP OR URL];Initial Catalog=OSS_TIS;User id=[USERNAME];Password=[PASSWORD]" providerName="System.Data.SqlClient" />
    <!-- This connection string is used for connecting to the TDS itembank database.  When loading a test package, there 
    are a few instances where TIS needs to query the TDS itembank database. -->
    <add name="tds_itembank" connectionString="server=[TDS MYSQL DATABASE IP OR URL];uid=[TDS MYSQL USERNAME];pwd=[TDS MYSQL PASSWORD];database=itembank;CharSet=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="LogFilePath" value="[DRIVE]:\path\to\logs\TISServicesLog.txt" />
    <add key="AuthTokenCache:MaxSize" value="100" />
    <add key="AuthTokenCache:PurgeCount" value="9" />
    <add key="AuthTokenCache:SlidingExpirationMinutes" value="240" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
