<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebServiceSettings" type="AIR.Configuration.WebServiceConfig, AIR.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="AuthorizationSettings" type="AIR.Configuration.AuthorizationConfig, AIR.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="ItemScoringSettings" type="AIR.Configuration.ItemScoringConfig, AIR.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>

  <connectionStrings>
    <add name="ITEMBANK" connectionString="TODO:conn str to item bank" providerName="System.Data.SqlClient"/>
    <add name="TDSQC" connectionString="TODO: conn str to TIS Db" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <WebServiceSettings>
    <!-- configure rest targets; handscoring targets must start with or equal "Handscoring" -->
    <WebService name="HandscoringTSS" url="https://myTSSserver/api/test/submit" />
    <WebService name="ART" url="https://myARTServer/" authSettingName="OAuth" />
    <WebService name="DW1" url="https://myDataWarehouseServer/endpoint" authSettingName="OAuthDW1" />
    <WebService name="DW2" url="https://myOtherDataWarehouseServer/endpoint" authSettingName="OAuthDW2" />
  </WebServiceSettings>
  
  <AuthorizationSettings>
    <!-- Can configure 1 or more oauth servers/accounts that can be used by WebService settings above -->
    <Authorization name="OAuth" url="https://myOpenAMserver/endpoint" realm="/sbac" grantType="password" username="name@example.com" password="TODO:account password" clientId="tis" clientSecret="TODO: client secret" />
    <Authorization name="OAuthDW1" url="https://myOpenAMserver2/endpoint/" realm="/sbac" grantType="password" username="name@example.com" password="TODO:account password" clientId="tis" clientSecret="TODO: client secret" />
    <Authorization name="OAuthDW2" url="https://myOpenAMserver3/endpoint/" realm="/sbac" grantType="password" username="name@example.com" password="TODO:account password" clientId="tis" clientSecret="TODO: client secret" />
  </AuthorizationSettings>
  
  <ItemScoringSettings>
    <ItemScoring target="HandscoringTSS"
        callbackUrl="https://myitemscoring.myserver.org/ItemScoringCallbackRcv.axd"
        itemTypes="SA;WER;TI:200-25662,200-19678,200-6117;EQ:200-19679,200-13312"
        isHandscoringTarget="true"
        batchRequest="true" />
    <ItemScoring target="HandscoringTDSUnscored"
        callbackUrl="https://myitemscoring.myserver.org/ItemScoringCallback.axd"
        itemTypes="EBSR;EQ:200-19679,200-13312:true;ER;ETC;GI;HT;HTQ;MC;MI;MS;NL;SA;TI:200-25662,200-19678,200-6117:true;TUT;WER;WIT"
        scoreStatuses="WaitingForMachineScore" />
  </ItemScoringSettings>

  <appSettings>
    <add key="ServiceName" value="OSS_TISService"/>
    <add key="MaxErrorEMails" value="25"/>

    <add key="FatalErrorsTo" value="name@example.com"/>
    <add key="FatalErrorsCc" value="name@example.com"/>
    <add key="EmailAlertForWarnings" value="true"/>
    <add key="WarningsTo" value="name@example.com"/>
    <add key="WarningsCc" value="name@example.com"/>

    <add key="ScoringEnvironment" value="TIS" />
    <add key="ClientName" value="SBAC"/>
    <add key="EventLogName" value="OSS_TISEventLog" />
    <add key="EventLogSource" value="OSS_TIS" />
    <add key="ErrorLog" value="D:\MyFileServer\Logs\OSS_TIS_ResultLog.txt"/>

    <add key="SendToHandscoring" value="true"/>
    <add key="IgnoreHandscoringDuplicates" value="true"/>
    <add key="Environment" value="Dev" />

    <add key="IdleSleepTime" value="1000" />
    <add key="LoopSleepTime" value="1" />
    <add key="NumberOfGeneralThreads" value="20"/>
    <add key="WaitForWorkerThreadsOnStopSeconds" value="120"/>
    <add key="LongDbCommandTimeout" value="90" />

    <add key="TDSSessionDatabases" value="server,database;otherserver,otherdatabase"/>
  </appSettings>

  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False"/>
    </defaultProxy>
    <mailSettings>
      <smtp from="oss_tis@mailserver.org">
        <network host="mail.mailserver.org"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>