<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebServiceSettings" type="AIR.Configuration.WebServiceConfig, AIR.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="AuthorizationSettings" type="AIR.Configuration.AuthorizationConfig, AIR.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>

  <connectionStrings>
    <add name="ITEMBANK" connectionString="TODO:conn str to item bank" providerName="System.Data.SqlClient"/>
    <add name="TDSQC" connectionString="TODO: conn str to TIS Db" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <WebServiceSettings>
    <!-- configure rest targets; handscoring targets must start with or equal "Handscoring" -->
    <WebService name="HandscoringTSS" url="https://myTSSserver/api/test/submit" />
    <WebService name="ART" url="https://myARTServer/" authSettingName="OAuth" />
    <WebService name="DW1" url="https://myDawaWarehouseServer/endpoint" authSettingName="OAuth" />
    <WebService name="DW2" url="https://myOtherDawaWarehouseServer/endpoint" authSettingName="OAuth" />
  </WebServiceSettings>
  
  <AuthorizationSettings>
    <!-- Can configure 1 or more oauth servers/accounts that can be used by WebService settings above -->
    <Authorization name="OAuth" url="https://myOpenAMserver/endpoint" realm="/sbac" grantType="password" username="name@example.com" password="TODO:account password" clientId="tis" clientSecret="TODO: client secret" />
  </AuthorizationSettings>
  
  <appSettings>
    <add key="ServiceName" value="OSS_TISService"/>
    <add key="MaxErrorEMails" value="25"/>

    <add key="FatalErrorsTo" value="name@example.com"/>
    <add key="FatalErrorsCc" value="name@example.com"/>
    <add key="EmailAlertForWarnings" value="true"/>
    <add key="WarningsTo" value="name@example.com"/>
    <add key="WarningsCc" value="name@example.com"/>

    <add key="ScoringEnvironment" value="TIS" />
    <add key="ClientName" value="SBAC"/>
    <add key="EventLogName" value="OSS_TISEventLog" />
    <add key="EventLogSource" value="OSS_TIS" />
    <add key="ErrorLog" value="D:\MyFileServer\Logs\OSS_TIS_ResultLog.txt"/>

    <add key="SendToHandscoring" value="true"/>
    <add key="IgnoreHandscoringDuplicates" value="true"/>
    <add key="Environment" value="Dev" />

    <add key="IdleSleepTime" value="1000" />
    <add key="LoopSleepTime" value="1" />
    <add key="NumberOfGeneralThreads" value="20"/>
    <add key="WaitForWorkerThreadsOnStopSeconds" value="120"/>
    <add key="LongDbCommandTimeout" value="90" />

    <add key="TDSSessionDatabases" value="server,database;otherserver,otherdatabase"/>

    <add key="ItemScoring:CallbackUrl" value="https://myScoringDaemon/ItemScoringCallback.axd"/>
    <add key="ItemScoring:ItemTypes" value="SA;WER;TI:1-9999,1-9998,1-9997;EQ:1-9996,1-9995"/>
  </appSettings>

  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False"/>
    </defaultProxy>
    <mailSettings>
      <smtp from="oss_tis@mailserver.org">
        <network host="mail.mailserver.org"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>